.title
	%h2 Basic Help
	%h1 Creating Records
	
.scroller
	
	%h3 How to Create
	%p
		Navigate to the index page of the type of record to be created. Click on
		'New' in the upper right corner. If, after clicking 'Save', the record
		does not save, there was an error in the record's information. The error
		will be presented just underneath the field that had an error. Fix these
		errors before attempting to save again.