.title
	%h2 Basics Help
	%h1 Editing Records
	
.scroller
	
	%h3 How to Edit
	%p
		To edit a record, navigate to the record's page and click on 'Edit' in the
		upper right corner. Once you have completed editing, click save.
	
	%h3 Permissions
	%p
		If you do not see an 'Edit' button on a record's page, then you are not
		permitted to edit that record. If, while editing a record, you do not see
		an input to edit a record's information, then you are not permitted to
		edit that particular field.