.title
	%h2 Export Help
	%h1 Export Options
	
.scroller
	
	%h3 Options
	%p
		After clicking export, a window will slide down showing the available
		export options. You may export as a template for awards, id cards, etc. or
		as a bus file. For printing, select a template and click print, and a pdf
		will then load.