.title
	%h2 Import Help
	%h1 Import Requirements
	
.scroller
	
	%h3 File Format
	%p
		All import files must be in comma separated format (.csv). If your file is
		not a in this format, you will receive a 'File could not be read' error.
	
	%h3 Headers
	%p
		The column headers may be in any order as long as they match up with the
		content below them. The headers must be named correctly. They may be named
		in an underscored format (first_name, last_name, school) or a spaced
		format (first name, last name, school). The headers are case insensitive.
		If the columns are incorrectly named, you will receive a 'Can't mass
		assign protected attributes' error.