.title
	%h2 Export Help
	%h1 Selecting Records to Export
	
.scroller
	
	%h3 Selection
	%p
		To the left of each record is a checkbox that may be selected to indicate
		the record for export. If no records are checked, then the export will
		select all records on the current page. To select multiple records, select
		the first record, hold the shift key down, select the last record, and
		release the shift key. This will select all records in between and
		including the first and last.
	
	%h3 Single Records
	%p
		If you wish to export only a single record, go to that records page and
		click export in the upper right.