.title
	%h2 Import Help
	%h1 Updating Records
	
.scroller
	
	%h3 Update
	%p
		Before clicking 'Import' on an index page, you can also select records
		with the checkboxes to the left of each record. If one or more records is
		selected, the 'Import' button becomes 'Update'. If you choose to update
		instead of import, records that were checked but not present in the import
		file will be marked as dropped.