<div class="notes">
  <% 1.upto(4) do |n| %>
    <%= semantic_form_for @student, class: 'special_handler note' do |f| %>
      <%= f.inputs do %>
        <%= f.input :"note_#{n}", as: :text %>
        <span class="holder">
          <%= format_holder_text(@student.send(:"note_#{n}")) %>
        </span>
      <% end %>
    <% end %>
  <% end %>
</div>