= link_to resource_with_parents(row ||= resource), data: { id: row.id } do
	%span.spacer
	%span.spacer
		= image_tag(row.image(:index), width: 28, height: 35) if row.image?
	%span.select= check_box_tag(export_attr(row), row.id)
	- fields(:index).each do |field|
		%span= cell_content row, field
	%span.spacer