$advanced: #54841E
$proficient: #82C63B
$basic: #EAD64A
$below-basic: #FF8000
$far-below-basic: #D02324

@import table
@import student

.page
	&.fullscreen
		div.test_scores.index
			width: auto
	
	div.test_scores.index
		.adv
			color: $advanced
		
		.prof
			color: $proficient
		
		.basic
			color: $basic
		
		.bbasic
			color: $below-basic
		
		.fbb
			color: $far-below-basic
		
		div.table
		
			a.level_breaker
				span
					color: #FFF !important
					font-weight: bold
				
				&.unknown span
					background-color: $gray-active
				
				&.adv span
					background-color: $advanced
				
				&.prof span
					background-color: $proficient
				
				&.basic span
					background-color: $basic
				
				&.bbasic span
					background-color: $below-basic
				
				&.fbb span
					background-color: $far-below-basic
		
			a span
				i
					position: relative
					top: -1px
					font-weight: bold
					font-size: 10px