= semantic_fields_for resource do |f|
	- if resource.dynamic_methods && !@hide_fields
		= f.inputs *resource.dynamic_methods, class: 'fields'
	- else
		%fieldset.fields
			%ol
				%li
					%b Select a test to add scores.