<% arranged_attributes(@test_models).each_with_index do |test_attribute, index| %>
  <span title="<%= test_attribute.name %>" <%= @cell_attributes[index] %><%= group_name(test_attribute) %>>
    <%= test_attribute.name %>
  </span>
<% end %>