<div class="title">
  <%= link_for :back, controller_model %>
  <h2>Test Scores</h2>
  <h1>Help</h1>
  <%= link_for :cancel, controller_model %>
</div>
  
<div class="scroller">
  <h2>Sorting</h2>
  <p>
    To sort test scores, click on the column header.
    To reverse sort direction, click again on the same header.
  </p>
  <h2>Interventions</h2>
  <p>
    To view interventions and a more detailed view of a student, just click
    on the row of the student you wish to view.
  </p>
</div>