html
	height: 100%
	z-index: -10001

#meta_container
	position: absolute
	top: 0
	bottom: 0
	left: 200px
	right: 0
	min-width: 1000px
	z-index: -10000
	
	#container
		width: 9999px
		min-height: 300px
		position: absolute
		top: 0
		bottom: 0
		right: 50%
		z-index: -9999
	
		.scroller
			position: absolute
			top: 75px
			right: 0
			bottom: 0
			left: 0
			overflow: auto