.options_filter
	height: 45px
	padding-left: $spacing
	background-color: $blue-medium
	
	div
		float: left
		margin-right: $spacing
	
	label
		display: block
		color: #FFF
		font-size: 12px
	
	select
		margin: 0