.term_filter
	position: relative
	float: left
	
	span
		background: url(image-path("icons.png")) no-repeat 100% -1497px
		padding-right: 10px

	select
		width: 120px
		height: 15px
		position: absolute
		left: 0
		margin: 0
		opacity: 0
		filter: alpha(opacity = 0)
		cursor: pointer