.error
	.title
		%h2 Error
		%h1 Forbidden
	
	- if current_user
		%p
			You are not allowed to access this page.
	
	- else
		- if current_user_session.try(:stale?)
			%p
				You have been logged out due to 10 minutes of inactivity.

		- else
			%p
				You are not logged in.

		%p
			= link_to 'Login', js_link, data: { reload_link: true }