// Variables
$blue: #0082C8
$blue-gray-dark: #252C30
$blue-gray-light: #51616A
$blue-medium: #0071AF
$blue-hover: #006195
$blue-active: #004062
$blue-light: #59BEFE
$orange: #FCB441
$red: #FF0000
$red-hover: #CC0000
$red-dark: #AA0000
$gray-text: #AAA
$gray-border: #DDD
$gray-stripe: #F2F2F2
$gray-hover: #E5E5E5
$gray-active: #BFBFBF

$advanced: #54841E
$proficient: #82C63B
$basic: #EAD64A
$below-basic: #FF8000
$far-below-basic: #D02324

$spacing: 20px
$radius: 3px

// Mixins
@mixin traverse_link
	height: 35px
	display: block
	padding: 0 20px
	font-weight: bold
	color: #000
	line-height: 35px
	text-decoration: none
	
	&:nth-child(even)
		background: $gray-stripe
	
	&:hover
		background: $gray-hover
	
	&:active
		background: $gray-active
		color: #FFF
	
	&.selected
		background: $blue
		color: #FFF

// Frameworks
@import compass
@import compass/reset

// Plugins
@import jquery.colorpicker

// Base
@import base/base

// Controllers
@import user_sessions
@import help
@import errors
@import test_scores
@import students
@import imports
@import export_list_items