.students.wrapper.index, .export_list_items.wrapper.index, .test_scores.wrapper.index
	.table
		span.image
			width: 28px
			padding: 0
			
			img
				width: 28px
				height: 35px
				vertical-align: bottom