.students.wrapper.index, .export_list_items.wrapper.index, .test_scores.wrapper.index
	.table
		span.image
			width: 28px
			padding: 0
			
			img
				width: 28px
				height: 35px
				vertical-align: bottom

.page.fullscreen
	.students.wrapper.test_scores
		width: auto

.page.fullscreen .students.wrapper.test_scores .title
	h1, h2
		left: 100px

.students.wrapper.test_scores
	width: 1000px
	
	div.scroller
	
		div.table
			margin: 20px 0
	
		div.left_col
			width: 350px
			position: absolute
			left: 0
			
			div.fields
				width: 100%
				padding: $spacing
				
				p
					margin: 0 0 10px 0

				b
					display: inline
					margin-right: 10px

				img
					width: 160px
					height: 200px
					margin-right: $spacing
					float: left
		
			.notes
				width: 100%
				float: left
				
				textarea
					height: 120px
		
				p
					width: 100%
					margin: 10px $spacing $spacing $spacing
					float: left
	
		div.right_col
			position: absolute
			left: 365px
			right: 0
			
			.interventions
				margin-right: $spacing
			
				.right, .left
					width: 50%
					float: left
					
				span
					padding: 0
			
					input
						padding: 0 5px
						+border-radius(0)
	
	div.relations
		width: 100%
		float: left
		clear: left
		margin-left: 10px

	div.scroller h2
		height: 35px
		margin: 10px 0 0 0
		font-size: 16px
		font-weight: bold
		line-height: 35px

	div.table
		div
			height: 45px
			
			span
				vertical-align: middle
	
		a span
			i
				top: -10px
	
	.destroy_intervention_link, .destroy_student_note_link
		color: $red
		text-decoration: underline
		cursor: pointer
		
		&:hover
			color: $red-hover
		
		&:active
			color: $red-dark