.page
	&.fullscreen
		div.test_scores.index
			width: auto
	
	div.test_scores, div.students.show
	
		&.index
			width: 1000px
	
		.adv
			color: $advanced
		
		.prof
			color: $proficient
		
		.basic
			color: $basic
		
		.bbasic
			color: $below-basic
		
		.fbb
			color: $far-below-basic
		
		div.table
			width: auto
			min-width: 100%
			
			div span.small
				position: relative
				top: -5px
				font-size: 10px
				line-height: 10px
			
			a:active, a.selected
				.adv, .prof, .basic, .bbasic, .fbb
					color: #FFF
		
			a.level_breaker
				span
					color: #FFF !important
					font-weight: bold
				
				&.unknown span
					background-color: $gray-active
				
				&.adv span
					background-color: $advanced
				
				&.prof span
					background-color: $proficient
				
				&.basic span
					background-color: $basic
				
				&.bbasic span
					background-color: $below-basic
				
				&.fbb span
					background-color: $far-below-basic
			
			a span
			
				i
					position: relative
					top: -1px
					font-weight: bold
					font-size: 10px