#container
	.page
		&.fullscreen
			div.test_scores.index
				width: auto
	
		div.test_scores
		
			&.help
				.scroller h2
					margin: $spacing
					font-size: 16px
					font-weight: bold
	
			&.index, &.edit, &.update
				width: 1000px
	
			.adv
				color: $advanced
		
			.prof, .ea
				color: $proficient
		
			.basic, .int
				color: $basic
		
			.bbasic, .ei
				color: $below-basic
		
			.fbb, .beg
				color: $far-below-basic
		
			div.table
				width: auto
				min-width: 100%
			
				span.stacked
					vertical-align: middle
					font-size: 14px
					line-height: 16px
			
				span.small
					min-width: 50px
					position: relative
					font-size: 14px
					line-height: 14px
					vertical-align: middle
					text-align: center
					
					&.unknown, &.adv, &.prof, &.ea, &.basic, &.int, &.bbasic, &.ei, &.fbb, &.beg
						color: #FFF
					
					&.unknown
						background-color: $gray-active
					
					&.adv
						background-color: $advanced
					
					&.prof, .ea
						background-color: $proficient
					
					&.basic, .int
						background-color: $basic
					
					&.bbasic, .ei
						background-color: $below-basic
					
					&.fbb, .beg
						background-color: $far-below-basic
			
				div span.small i
					top: 0
			
				a:active, a.selected
					.adv, .prof, .ea, .basic, .int, .bbasic, .ei, .fbb, .beg
						color: #FFF
		
				a.level_breaker
					span
						color: #FFF !important
						font-weight: bold
						text-align: center
						
						em
							width: 140px
							position: absolute
							margin-left: -70px
				
					&.unknown span
						background-color: $gray-active
				
					&.adv span
						background-color: $advanced
				
					&.prof span, &.ea span
						background-color: $proficient
				
					&.basic span, &.int span
						background-color: $basic
				
					&.bbasic span, &.ei span
						background-color: $below-basic
				
					&.fbb span, &.beg span
						background-color: $far-below-basic