= link_to resource_with_parents(row ||= resource), data: { id: row.id } do
	%span.spacer
	%span.select= check_box_tag(export_attr(resource), row.id)
	- fields(:index).each do |field|
		%span= field_content row, field
	%span.spacer