.term_filter
	%span Term: All
	= select_tag('term', term_options)
- if grade_options
	.grade_filter
		%span Grade: All
		= select_tag('grade', grade_options)
- if test_options
	.test_filter
		%span Test: All
		= select_tag('test', test_options)